.card {
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: white;
  .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .content {
    padding: 1.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px;
  }
  p {
  margin: 0;
  }
  .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem;
  }
  a {
    // // color: #ffab40;
    // margin-right: 1.3rem;
    // transition: color 0.3s ease;
    text-transform: uppercase;
    // text-decoration: none;
  }
  .image {
    position: relative;
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.3rem;
      color: #fff;
    }
    img {
      border-radius: 2px 2px 0 0;
    }
  }
}
